@font-face {
    font-family: ALSFucha;
    src: url('../fonts/alsfuchsia.otf');
}

$prime_color: #000;
$gray: #333;
$add_color: #4c4c4c;
$link_color: #4283c0;
$main_font: Arial;
$second_font: ALSFucha;
$mobile: 600px;

$container-large-desktop: 1366px;
$screen-lg: 1366px;
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "..\\node_modules\\bootstrap-sass\\assets\\stylesheets\\bootstrap";
@mixin mobile(){

	@media (max-width:$mobile){ @content; }

}

.clr{

width:100%;
clear:both;

}

.flex{

display:flex;
align-items:flex-end;
@include mobile{ display:block; }

}

body { 

color: $prime_color;
font-family: $main_font;

}

cite{

display:block;
font-family: $second_font;
max-width:880px;
margin-top:50px;
margin-bottom:50px;
margin-left:auto;
margin-right:auto;
font-size:36px;
padding:50px 0;
border-top:1px solid #000;
border-bottom:1px solid #000;
font-style:normal;
text-align:center;
font-weight:bold;

}

.top{

margin-top:60px;

}

.logo{

	img{
	
	max-width:100%;
	
	}

}

h1 {

font-size:72px;
font-weight:bold;
text-align:center;
margin-top:60px;
margin-bottom:50px;
@include mobile{ 

	font-size:38px 
	
	}

}

h2{

font-size:32px;
text-align:center;
max-width:880px;
margin-top:0px;
margin-bottom:0px;
margin-left:auto;
margin-right:auto;
line-height:42px;
@include mobile { 
	
	display:none; 

	};

}

h3{

max-width:640px;
text-align:left;
margin-left:auto;
margin-right:auto;
margin-top:50px;
margin-bottom:30px;
font-size:42px;
font-weight:bold;

}

h4{

font-size:24px;
font-weight:bold;
line-height:32px;
margin-bottom:15px;
margin-top:15px;

}

.search{

border:1px solid #ccc;
border-radius:15px;
height:30px;
width:280px;
color:#333;
float:right;
line-height:28px;
padding-left:5px;
	
	input{
	
	border:none;
	height:28px;
	width:calc(100% - 30px);
		
	}

}

.btnSearch{

width:30px;
height:30px;
float:right;
background:none;
background-color:transparent;
border:none;
font-size:20px;
line-height:20px;

}

.h3text{

max-width:640px;
margin-left:auto;
margin-right:auto;
text-align:left;
line-height:32px;
font-size:19px;

}

.books{

margin-top:50px;

}

.singleBook {

text-align:center;

	.title{
	
		font-size:19px;
		color:$add_color;
		margin-top:30px;
		@include mobile {
		
			padding:0 15px;
			margin-bottom:60px;
		
			}
	
		a{
		
			color:$prime_color;
			
			u{
			
				color:$link_color;
			
			}
		
		}
		
		a:hover{
		
			text-decoration:none;
			
			u{
			
			color:#e41a06;
			
			}
		
		}
	
	}
	
	img{
	
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.6);
	transition:0.2s;
	
	}
	
	img:hover{
	
	box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.7);
	
	}

}

.btn{

	&.more{
		
		color:#4283c0;
		background-color:transparent;
		border:2px solid #95c1e5;
		border-radius:8px;
		width:280px;
		font-size:17px;
		margin-top:30px;
	
	}
	
	&.more:hover{
	
	border-color:#e41a06;
	color:#e41a06;
	
	}

}

.bender{

text-align:center;
margin-top:100px;
	img{
	
		max-width:100%;
	
	}

}

.reviews{

	.rewTex{
	
	margin-top:25px;
	font-size:21px;
	color:$gray;
	
	}

}

.book{

	position:relative;

	img{
	
		max-width:100%;
		box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.6);
	
	}
	
	.sb_title{
	
	margin-top:50px;
	color: $gray;
	font-size:24px;
	
		strong{
		
		color:#fe5552;
		
		}
	
	}

}

.booksRow{

margin-top:70px;

}

.buy{


background: #865788;
background: -moz-linear-gradient(top, #865788 0%, #633b64 100%);
background: -webkit-linear-gradient(top, #865788 0%,#633b64 100%);
background: linear-gradient(to bottom, #865788 0%,#633b64 100%);
color:#fff;
font-size:32px;
margin-top:30px;
box-shadow:0px 20px 40px 0px #382539;
padding:15px 32px;
border-radius:12px;
border: none;
transition:0.2s;
@include mobile { 

max-width:100%;
white-space:normal;

	}

}

.buy:hover{
	
color:#fff;
background: #865788;
background: -moz-linear-gradient(top, #c18ec6 0%, #4b294c 100%);
background: -webkit-linear-gradient(top, #c18ec6 0%,#4b294c 100%);
background: linear-gradient(to bottom, #c18ec6 0%,#4b294c 100%);	

}

.underBtn{

margin-top:30px;
font-size:15px;
font-style:italic;
color:#dcdcdc;
margin-bottom:10px;

}

.scrff{

border-radius:50%;

}

.features{

	.fcrTex{
	
	margin-top:25px;
	font-size:21px;
	color:$gray;
	
	}

}

.people{

margin-top:30px;

	div{
	
	text-align:center;
	@include mobile{ height:150px;line-height:150px; }
	
	}

}

.order{
	
	.title{
	
	margin-top:60px;
	font-size:38px;
	
	}
	
	input,textarea{
	
	max-width:100%;
	width:100%;
	
	}
	
	input.buy,
	input[type=radio]{
	
	width:auto;
	
	}
	
	.total{
	
	font-size:36px;
	font-weight:bold;
	margin-top:50px;
	
	}

}

.eyeCenter{
	position : absolute;
	background-color : #000;
	width:30px;
	height:30px;
	border-radius:50%;
	margin-left:15px;
	margin-top:15px;
}

.eye{
	width:150px;
	height:150px;
	position: absolute;
	overflow:hidden;
	border:5px solid #000000;
	border-radius:50%;
	top:calc(50% - 75px);
	left:calc(50% - 75px);
	background-color:#fff;
	z-index:100;
	animation: eye 10s ease-in-out infinite;
}

@keyframes eye{

0%{
border-top:5px solid #000;
border-bottom:5px solid #000;
}
5% {
border-top:75px solid #000;
border-bottom:75px solid #000;
}
10%{
border-top:5px solid #000;
border-bottom:5px solid #000;
}
100%{
border-top:5px solid #000;
border-bottom:5px solid #000;
}

}

.errText{
	text-align:center;
	color:red;
}

input.err{
	border:1px solid red;
}


